.u-section-1 .u-sheet-1 {
  min-height: 651px;
}

.u-section-1 .u-text-1 {
  margin: 57px 100px;
}

@media (max-width: 1399px) {
  .u-section-1 .u-text-1 {
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 728px;
  }
}